<div class="jack-header">
    <div class="logo">
        [LOGO HERE]
    </div>

    <div class="subtitle">
        Short elevator pitch describing getfursu.it used as a subtitle. Come find your dream fursuit the easiest way possible!
    </div>
</div>
