<div class="filter-sidebar">

  <div class="section">
    <div class="header">Parts</div>
    <div class="content parts">
      <div class="caption">
        Select parts on the diagrams below
      </div>
      <div class="primary">
        <img src="{{ asset('images/parts-front.webp') }}" class="diagram" />
        <img src="{{ asset('images/parts-side.webp') }}" class="diagram" />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="header">Style</div>
    <div class="content style">
      <button class="toony">
        Toony
      </button>
      <button class="kemono active">
        Kemono
      </button>
      <button class="anime active">
        Anime
      </button>
      <button class="realistic">
        Realistic
      </button>
    </div>
  </div>

  <div class="section">
    <div class="header">Language</div>
    <div class="content">
      FOO
    </div>
  </div>

  <div class="section">
    <div class="header">Country</div>
    <div class="content">
      FOO
    </div>
  </div>

  <div class="section">
    <div class="header">Misc.</div>
    <div class="content">
      <label>
        <input type="checkbox" />
        Accepts payment plans
      </label>
    </div>
  </div>
</div>